<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>LinkedIn: Log In or Sign Up</title>
    <link rel="shortcut icon" type="image/png" href="__static__/img/favicon.ico">
  </head>
  <body>
    <div class="global">
      <div class="header">
        <%= require('../../module/components/header/header.ejs')() %>
      </div>
      <div class="main">
        <%= require('../../module/components/registerForm/registerForm.ejs')() %>
      </div>
      <div class="bottom">
        <div class="find">
          <%= require('../../module/components/findColleague/findColleague.ejs')() %>
          <%= require('../../module/components/dictionary/dictionary.ejs')() %>
        </div>
        <%= require('../../module/components/sitemap/sitemap.ejs')() %>
        <%= require('../../module/components/footer/footer.ejs')() %>
      </div>
    </div>
  </body>
</html>
