<!DOCTYPE html>
<html>
  <head>
    <title>linkedin</title>
    <base href="/">
    <link rel="icon" href="__static__/img/icon.ico">
    <script src="__static__/js/vendor/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div class="global-container">
      <header class="main-header o-wrapper">
        <div class="inner-container u-clearfix">

          <%= require("../../module/components/logo/logo.ejs")() %>

          <%= require("../../module/components/loginForm/loginForm.ejs")() %>

        </div>
      </header>
      <div class="main-content o-wrapper">

        <%= require("../..//module/components/regForm/regForm.ejs")() %>

      </div>
      <footer class="main-footer o-wrapper">

        <%= require("../../module/components/searchForm/searchForm.ejs")() %>

        <%= require("../../module/components/searchDict/searchDict.ejs")() %>

        <%= require("../../module/components/linkContainer/linkContainer.ejs")() %>

        <%= require("../../module/components/footBar/footBar.ejs")() %>
        
      </footer>
    </div>
  </body>
</html>